<div class="vertical">
  <app-split-pane [initialLeftWidth]="initialLeftWidth">
    <div leftPane class="listing window">
      <div class="window-header">
        Listing
      </div>

      <div class="window-content">
        <div class="line header">
          <div class="item address">Address</div>
          <div class="item bytes">Bytes</div>
          <div class="item disasm">Disassembly</div>
          <div class="item semantic">Semantic</div>
        </div>

        <cdk-virtual-scroll-viewport itemSize="20" class="virtual-scroll">
          <div *cdkVirtualFor="let item of [].constructor(50000)">
            <div class="line">
              <div class="item address">0x00400000</div>
              <div class="item bytes">00 12 34 56</div>
              <div class="item disasm">&lt;non&gt;</div>
              <div class="item semantic">arbitrary</div>
            </div>
          </div>
        </cdk-virtual-scroll-viewport>
<!--        @for (i of [].constructor(500); track i) {-->
<!--          <div class="line">-->
<!--            <div class="item address">0x00400000</div>-->
<!--            <div class="item bytes">00 12 34 56</div>-->
<!--            <div class="item disasm">&lt;non&gt;</div>-->
<!--            <div class="item semantic">arbitrary</div>-->
<!--          </div>-->
<!--        }-->
      </div>
    </div>

    <div rightPane class="decompile window">
      <div class="window-header">
        Decompile
      </div>

      <div class="window-content">
        LALALALA
      </div>
    </div>
  </app-split-pane>
</div>
