.navigation-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
  background-color: #f0f0f0;
  border-bottom: 1px solid #ddd;
  z-index: 1000;

  .navigation-buttons {
    display: flex;
  }
}

.navigation-item {
  position: relative;
  display: block;
  padding: 0.3em 1em;
  box-sizing: border-box;
  cursor: pointer;
  user-select: none;

  &:hover, &.active {
    background-color: #e5f3ff;
    box-shadow: inset 0 0 0 1px #cce8ff;
  }
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 160px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border: 1px solid #ddd;
  z-index: 1001;
}

.dropdown-item {
  padding: 0.5em 1em;
  cursor: pointer;

  &:hover {
    background-color: #e5f3ff;
  }

    &.disabled {
        color: #aaa;
        cursor: not-allowed;
    }
}

.custom-tooltip {
  position: fixed;
  padding: 6px 10px;
  background-color: #f0f0f0;
  color: #333;
  border-radius: 4px;
  font-size: 12px;
  pointer-events: none;
  z-index: 2000;
  animation: fadeIn 0.15s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  max-width: 250px;
  border: 1px solid #ddd;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.electron-footer {
  padding: 0.3em 1em;
  font-size: 12px;
  align-self: end;
  user-select: none;

  span {
    display: inline-block;
    border-radius: 4px;

    padding: 0 1em;
    background-color: rgba(255, 255, 255, 0.1);

    background-color: #2c3e50;
    color: white;
  }
}
